In [83]:
import numpy as np
import scipy as sp
import astropy as ap
import astroplan as plan
import pandas as pd 

from astroquery.simbad import Simbad

clstrCands = Simbad().query_catalog('abell')
goodRAclstrs = []

for clstr in clstrCands:
    try:
        raHr = int(clstr['RA'][0:2])
        if raHr >= 3 and raHr < 5:
            goodRAclstrs.append(clstr)
    except:
        pass

goodDecClstrs = []
zenith = -24.67

for clstr in goodRAclstrs:
    try:
        dec = int(clstr['DEC'][0:3]) + int(clstr['DEC'][4:5]) / 60
    except:
        dec = int(clstr['DEC'][0:2]) + int(clstr['DEC'][3:4]) / 60
    if dec <= zenith + 2 and dec >= zenith - 2:
        goodDecClstrs.append(clstr)
        
finalClstrs = []
x = 0

while x < 10:
    try:
        finalClstrs.append(goodDecClstrs[x])
    except:
        pass
    x += 1

x = 0
for clstr in finalClstrs:
    x += 1
print(x)
    
finalClstrs

10

[<Row index=713 masked=True>
  MAIN_ID      RA      DEC    RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
            "h:m:s"  "d:m:s"                       mas          mas           deg
   object    str13    str13    int16   int16     float32      float32        int16       str1        str1             object
 ---------- -------- -------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO S  357 03 31 19 -26 05.8       4        4   150000.000   150000.000            90        E                1989ApJS...70....1A,
 <Row index=781 masked=True>
  MAIN_ID      RA      DEC    RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
            "h:m:s"  "d:m:s"                       mas          mas           deg
   object    str13    str13    int16   int16     float32      float32        int16       str1        str1             object
 ---------- -------- -------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO S  391 03 47 57 -23 31.8       4        4   150000.000   150000.000            90        E                1989ApJS...70....1A,
 <Row index=827 masked=True>
  MAIN_ID      RA      DEC    RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
            "h:m:s"  "d:m:s"                       mas          mas           deg
   object    str13    str13    int16   int16     float32      float32        int16       str1        str1             object
 ---------- -------- -------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO S  414 04 04 25 -24 18.9       4        4   150000.000   150000.000            90        E                1989ApJS...70....1A,
 <Row index=836 masked=True>
  MAIN_ID       RA         DEC     RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
             "h:m:s"     "d:m:s"                        mas          mas           deg
   object     str13       str13     int16   int16     float32      float32        int16       str1        str1             object
 --------- ----------- ----------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO   419 03 08 15.85 -23 41 29.0       6        6           --           --             0        D                2002MNRAS.329...87D,
 <Row index=914 masked=True>
  MAIN_ID      RA        DEC    RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
            "h:m:s"    "d:m:s"                       mas          mas           deg
   object    str13      str13    int16   int16     float32      float32        int16       str1        str1             object
 --------- ---------- --------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO   458 03 45 50.6 -24 16 42       5        5           --           --             0        D                2001ApJ...554L.129M,
 <Row index=972 masked=True>
  MAIN_ID     RA      DEC    RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
           "h:m:s"  "d:m:s"                       mas          mas           deg
   object   str13    str13    int16   int16     float32      float32        int16       str1        str1             object
 --------- -------- -------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO   487 04 22 48 -24 15.1       4        4   150000.000   150000.000            90        E                1989ApJS...70....1A,
 <Row index=988 masked=True>
  MAIN_ID      RA        DEC    RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
            "h:m:s"    "d:m:s"                       mas          mas           deg
   object    str13      str13    int16   int16     float32      float32        int16       str1        str1             object
 --------- ---------- --------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO   495 04 29 58.1 -26 24 04       5        5           --           --             0        D                1997MNRAS.289..263D,
 <Row index=1020 masked=True>
  MAIN_ID      RA        DEC    RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
            "h:m:s"    "d:m:s"                       mas          mas           deg
   object    str13      str13    int16   int16     float32      float32        int16       str1        str1             object
 --------- ---------- --------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO   511 04 46 46.5 -25 28 29       5        5           --           --             0        D                1997MNRAS.289..263D,
 <Row index=4260 masked=True>
  MAIN_ID       RA         DEC     RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
             "h:m:s"     "d:m:s"                        mas          mas           deg
   object     str13       str13     int16   int16     float32      float32        int16       str1        str1             object
 --------- ----------- ----------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO  3086 03 04 45.84 -24 38 28.5       6        6           --           --             0        D                2002MNRAS.329...87D,
 <Row index=4268 masked=True>
  MAIN_ID       RA         DEC     RA_PREC DEC_PREC COO_ERR_MAJA COO_ERR_MINA COO_ERR_ANGLE COO_QUAL COO_WAVELENGTH     COO_BIBCODE
             "h:m:s"     "d:m:s"                        mas          mas           deg
   object     str13       str13     int16   int16     float32      float32        int16       str1        str1             object
 --------- ----------- ----------- ------- -------- ------------ ------------ ------------- -------- -------------- -------------------
 ACO  3094 03 11 25.00 -26 55 52.2       6        6           --           --             0        D                2002MNRAS.329...87D]